#header{
    width:100%;
    padding:3%;
    font-family: 'Itim', cursive;
    color: white;
}
body{
    font-family: 'Itim', cursive;

}

#input{
    margin-left: auto;
    margin-right: auto;
    width:30%;
    border:2px solid grey;
    border-radius: 25px;;
    font-size:2em;
    box-shadow: 5px 5px 10px grey;
}

#img{
    width:50%;
}
#container2>h2{
    font-size: 3em;;
color:white;
}
#container2>p{
    font-size: 1.5em;;
color:white;
}


#container3>h2{
    font-size: 3em;;
color:white;
}
#container3>p{
    font-size: 1.5em;;
color:white;
}

hr{
    background-color: white;
}
#headingimg{
    width:30%;
    
}
#date{
    margin-top: 5%;
    font-size: 2em;;
}
body{
    background-image: url('https://wallpaperaccess.com/full/4425591.jpg');
}
#header>h1{
    font-size:4em;
}

#container2>table{
    font-size:1.5em;
    color:white;
}
#container3>table{
    font-size:1.5em;
    color:white;
}
#info{
    color:white;
    font-size:3em;
}



@media screen and (max-width:576px) {
    
    #input{
        width:60%;
        font-size: 1.4em;;
    }
}